@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}
.contenedor{
    overflow:hidden;
    background-color: rgb(228, 99, 240);
}
.titulo{
    width: 70%;
    
    float:left;
}
.titulo2{
    width: 30%;
    float: left;
    
}

input#edad{
    width: 50%;
    padding-bottom: 5px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
input#name{
    width: 100%;
    padding-bottom: 5px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.infIzquirda{
    width: 30%;
    float: left;
    
}
#informacion{
    width: 70%;
    padding: 20px 70px;
    float: left;
    background-color: rgb(145, 161, 235);
    box-shadow: -1px 0px 10px 0px ;
}
.presentacion{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}
a{
    display: block;
    text-decoration: none;
    color: black;
}

.imagen img{
    width:100%;
    height:auto;
    border-radius: 100%;
    padding: 20px 30px;
    
}
#imagen{
    background-color: blueviolet;
    
}
.contactos label {
    width: 40%;
    float: left;
}
.contactos input {
    width: 85%;
}
.contactos div,.elementos h4{
    padding: 5px 0px;
}
.contactos h3{
    text-align: center;
    font-size: 125%;
}

.contactos{
    padding: 20px 30px;

}
.elementos{
    text-align: center;
    font-size: 110%;
    padding: 20px 30px;
}
.configuracion{
    text-align: center;
}
.configuracion button i{
    font-size: 150%;
}
.presentacion2,.aptitudes{
    font-size: 150%;
}
.presentacion, h1{
    font-size: 150%;
}
.presentacion2{
    font-size: 180%;
}